<!doctype html>
<html lang="en" dir="ltr">

<% include partials/head.ejs %>

  <body>

    <main>
      <header class="header">

        <% include partials/header.ejs %>

      </header>
      <section class="side">

        <% include partials/side.ejs %>

      </section>
      <section class="chat">

        <% include partials/chat.ejs %>

      </section>

      <section class="form">

        <% include partials/form.ejs %>

      </section>

    </main>

    <% include partials/tail.ejs %>

  </body>

</html>
