<header class="header-chat">
  <div class="header-blok1">
    <h2 class="header-name">Naam</h2>
    <p class="header-num">#69</p>
  </div>
  <div class="header-blok1">
    <p class="header-status">Inactief</p>
    <p class="header-url">Url: http://localhost:1999/</p>
    <a class="delete" href="#">Verwijder chat</a>
  </div>
</header>

<ul id="messages"></ul>

<form id="form" action="">
  <input id="m" autocomplete="off"/ placeholder="Schrijf een bericht...">
  <a id="open" class="add">+</a>
  <a id="close" class="add invisible">-</a>
  <button id="send">Versturen</button>
</form>

<div id="list" class="add-menu invisible">
  <ul class="add-list">
    <li><a id="name" href="#">Vraag naar naam</a></li>
    <li><a id="regio" href="#">Vraag naar regio</a></li>
    <li><a id="contact" href="#">Vraag naar contactgegevens</a></li>
    <li><a id="functions" href="#">Vraag naar functies</a></li>
  </ul>
</div>
