<form class="infoform" action="index.html" method="post">
  <fieldset>
    <legend>Naam</legend>
    <input class="form-border" type="text" name="name" placeholder="Voornaam">
    <input class="form-border" type="text" name="tussen" placeholder="Tussenvoegsel">
    <input class="form-border" type="text" name="last" placeholder="Achternaam">
  </fieldset>
  <fieldset>
    <legend>Regio</legend>
    <select name="regio">
      <option value="">Selecteer regio</option disabled selected>
      <option value="">Noord-Holland</option>
      <option value="">Zuid-Holland</option>
      <option value="">Utrecht</option>
      <option value="">Gelderland</option>
      <option value="">Groningen</option>
      <option value="">Brabant</option>
      <option value="">Overijssel</option>
      <option value="">Limburg</option>
      <option value="">Drenthe</option>
      <option value="">Friesland</option>
      <option value="">Flevoland</option>
      <option value="">Zeeland</option>
    </select>
  </fieldset>
  <fieldset>
    <legend>Contactgegevens</legend>
    <input type="email" name="email" value="" placeholder="E-mailadres">
    <input type="number" name="cell" value="" placeholder="Telefoonnummer">
  </fieldset>
  <fieldset>
    <legend>Functies</legend>
    <select name="regio">
      <option value="">Selecteer functie</option disabled selected>
      <option value="">Noord-Holland</option>
      <option value="">Zuid-Holland</option>
      <option value="">Utrecht</option>
    </select>
  </fieldset>
  <fieldset>
    <legend>Interessante bedrijven</legend>
    <select name="regio">
      <option value="">Selecteer bedrijven</option disabled selected>
      <option value="">Noord-Holland</option>
      <option value="">Zuid-Holland</option>
      <option value="">Utrecht</option>
    </select>
  </fieldset>
  <fieldset>
    <legend>Goede lead</legend>
    <input class="radio" id="yes" type="radio" name="lead" value="true">
    <label for="yes">Ja</label>
    <input class="radio" id="no" type="radio" name="lead" value="false">
    <label for="no">Nee</label>
  </fieldset>
  <fieldset>
    <legend>Notes</legend>
    <textarea name="notes" rows="8" cols="30" placeholder="Voer extra notities in"></textarea>
  </fieldset>
</form>
