<form class="infoform" action="index.html" method="post">
  <fieldset>
    <legend>Naam</legend>
    <input class="form-border input" type="text" name="firstName" placeholder="Voornaam">
    <input class="form-border input" type="text" name="tussen" placeholder="Tussenvoegsel">
    <input class="form-border input" type="text" name="lastName" placeholder="Achternaam">
  </fieldset>
  <fieldset>
    <legend>Regio</legend>
    <select name="regio">
      <option value="0">Voeg regio toe</option disabled selected>
      <option value="Brabant">Brabant</option>
      <option value="Drenthe">Drenthe</option>
      <option value="Flevoland">Flevoland</option>
      <option value="Friesland">Friesland</option>
      <option value="Gelderland">Gelderland</option>
      <option value="Groningen">Groningen</option>
      <option value="Limburg">Limburg</option>
      <option value="Noord-Holland">Noord-Holland</option>
      <option value="Overijssel">Overijssel</option>
      <option value="Utrecht">Utrecht</option>
      <option value="Zeeland">Zeeland</option>
      <option value="Zuid-Holland">Zuid-Holland</option>
    </select>
  </fieldset>
  <fieldset>
    <legend>Contactgegevens</legend>
    <input class="input" type="email" name="email" value="" placeholder="E-mailadres">
    <input class="input" type="number" name="cell" value="" placeholder="Telefoonnummer">
  </fieldset>
  <fieldset>
    <legend>Functies</legend>
    <select name="functions">
      <option value="0">Selecteer functie</option disabled selected>
      <option value="">Noord-Holland</option>
      <option value="">Zuid-Holland</option>
      <option value="">Utrecht</option>
    </select>
  </fieldset>
  <fieldset>
    <legend>Interessante bedrijven</legend>
    <select name="companies">
      <option value="0">Selecteer bedrijven</option disabled selected>
      <option value="">Noord-Holland</option>
      <option value="">Zuid-Holland</option>
      <option value="">Utrecht</option>
    </select>
  </fieldset>
  <fieldset>
    <legend>Goede lead</legend>
    <input class="radio" id="yes" type="radio" name="lead" value="true">
    <label for="yes">Ja</label>
    <input class="radio" id="no" type="radio" name="lead" value="false">
    <label for="no">Nee</label>
  </fieldset>
  <fieldset>
    <legend>Notes</legend>
    <textarea name="notes" rows="8" cols="50" placeholder="Voer extra notities in"></textarea>
  </fieldset>
</form>
