<ul class="nav">
  <li class="li1"><a class="li1"><img class="logo1" src="img/kv.png" alt=""><p class="text">Kandidaatvinden</p></a></li>
  <li class="li2"><a class="knop1">Chats</a></li>
  <li class="li3"><a class="knop2">Kandidaten</a></li>
  <li class="li4"><a href="#" class="logo2">luba</a></li>
</ul>
