<ul id="clients">
  <li class="client">
    <h3 class="message-name">Marie Joe</h3>
    <p class="message-last">Heel erg bedankt voor het invullen...</p>
    <p class="message-time">20 minuten geleden</p>
  </li>
  <li class="client">
    <h3 class="message-name">Jo Dodel</h3>
    <p class="message-last">Als u uw gegevens doorgeeft kunn...</p>
    <p class="message-time">1 dag geleden</p>
  </li>
  <li class="client">
    <h3 class="message-name">Jan lul</h3>
    <p class="message-last">Beste Jan, wij waren benieuwd ho...</p>
    <p class="message-time">4 dagen geleden</p>
  </li>
</ul>
