<ul id="clients">
  <li class="client">
    <h3 class="message-name">Marie Joe</h3>
    <p class="message-last">Laatste bericht...</p>
    <p class="message-time">2 dagen geleden</p>
  </li>
  <li class="client">
    <h3 class="message-name">Jo Dodel</h3>
    <p class="message-last">Laatste bericht...</p>
    <p class="message-time">2 dagen geleden</p>
  </li>
  <li class="client">
    <h3 class="message-name">Jan lul</h3>
    <p class="message-last">Laatste bericht...</p>
    <p class="message-time">2 dagen geleden</p>
  </li>
</ul>
